% setdefault('naslov', 'Dodajanje namestitve')
% rebase('osnova.html')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

  <form action="{{url('dodaj_namestitev')}}" method="POST">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="id_namestitve">ID nove namestitve:</label>
        <input id="id_namestitve" name="id_namestitve" type="integer" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="vrsta_namestitve">Vrsta:</label>
        <input id="vrsta_namestitve" name="vrsta_namestitve" type="text" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="cena">Cena:</label>
        <input id="cena" name="cena" type="integer" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row col">
      <button class="btn btn-info" type="submit">
        Dodaj novo namestitev
      </button>
    </div>
  </form>