% setdefault('naslov', 'Dodajanje transporta')
% rebase('osnova.html')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

  <form action="{{url('dodaj_transport')}}" method="POST">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="id_transporta">ID novega transporta:</label>
        <input id="id_transporta" name="id_transporta" type="integer" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="vrsta_transporta">Vrsta:</label>
        <input id="vrsta_transporta" name="vrsta_transporta" type="text" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="cena">Cena:</label>
        <input id="cena" name="cena" type="integer" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row col">
      <button class="btn btn-info" type="submit">
        Dodaj nov transport
      </button>
    </div>
  </form>