% setdefault('naslov', 'Namestitev')
% rebase('osnova.html', izbrani_zavihek='namestitev')

% include('orodna_vrstica.html', povezava1='uredi_namestitev_post', napis1="Uredi namestitev", povezava2='dodaj_namestitev_post', napis2="Dodaj namestitev")


  <table class="table table-hover">
  <thead class="thead-light">
     <th>Id</th>
     <th>Vrsta</th>
     <th>Cena</th>
  </thead>
  %for (id_namestitve,vrsta_namestitve,cena) in namestitev:
    <tr>
       <td>{{id_namestitve}}</td>
       <td>{{vrsta_namestitve}}</td>
       <td>{{cena}}</td>
    </tr>
  %end
  </table>
