% setdefault('naslov', 'Osebe')
% rebase('osnova.html', izbrani_zavihek='osebe')

  <table class="table table-striped">
  <tr>
     <th>Uporabniško ime</th>
     <th>Ime</th>
     <th>Priimek</th>
     <th>Datum rojstva</th>
     <th>Državljanstvo</th>
     <th>Članstvo</th>
     <th>Številka izleta</th>
  </tr>
  %for (uporabnisko_ime,ime,priimek,datum_rojstva,drzavljanstvo,clanstvo,st_izleta) in oseba:
    <tr>
       <td>{{uporabnisko_ime}}</td>
       <td>{{ime}}</td>
       <td>{{priimek}}</td>
       <td>{{datum_rojstva}}</td>
       <td>{{drzavljanstvo}}</td>
       <td>{{clanstvo}}</td>
       <td>{{st_izleta}}</td>
    </tr>
  %end
  </table>

  <p>
    <a href="{{url('/obisk')}}" type="button" class="btn btn-info">Obiski</a>
    <a href="{{url('/skupine')}}" type="button" class="btn btn-info">Skupine</a>
  </p>