% zavihki = [
%     'osebe',
%     'obisk',
%     'transport',
%     'namestitev',
%     'skupine'   
% ]
% oznaka_zavihka = {
%     'osebe': 'Osebe',
%     'obisk': 'Obisk',
%     'transport': 'Transport',
%     'namestitev': 'Namestitev',
%     'skupine': 'Skupine'
% }

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  % if defined('izbrani_zavihek'):
  <title>Jaz pa pojdem - {{oznaka_zavihka[izbrani_zavihek]}}</title>
  % else:
  <title>Jaz pa pojdem</title>
  % end
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <script src="/static/projekt.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"> 
  
</head>

<body>
  <nav class="navbar is-light">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-item">
          <strong>Jaz pa pojdem</strong>
        </span>
      </div>
      <div class="navbar-start">
        % if defined('izbrani_zavihek'):
          % for zavihek in zavihki:
          % if zavihek == izbrani_zavihek:
            <a class="navbar-item is-active" href="{{zavihek}}">
          % else:
            <a class="navbar-item" href="{{zavihek}}">
          % end
          <span>{{oznaka_zavihka[zavihek]}}</span>
          </a>
          % end
        % end
      </div>      
      % if defined('izbrani_zavihek'):
      <div class="navbar-end">
        <span>
          <form method="POST" action="/odjava/">
            <input type="submit" value="odjavi me">
          </form>
        </span>
      </div>
      % end
    </div>
  </nav>
  <section class="section">
    
    <link href="{{url('static', filename='style.css')}}" rel="stylesheet">
    <h1 class="my-3">{{naslov}}</h1>

    {{!base}}
  </section>

  <footer class="footer primary">
    OPB - Iza Čebulj, Neža Lesnjak
  </footer>
  
</body>

</html>