% setdefault('naslov', 'Jaz pa pojdem')
% rebase('osnova.html')

<div class="row mx-0 bg-light">
  <center>
    <p>Prijavite se:</p>
    <div class="col py-3 d-flex justify-content-end align-items-center">
        <a href="{{url('prijava_get')}}">
            <button type="button" class="btn btn-info">Prijava</button>
        </a>
    </div>
    <p>Registrirajte se:</p>
    <div class="col py-3 d-flex justify-content-end align-items-center">
        <a href="{{url('registracija_get')}}">
            <button type="button" class="btn btn-info">Registracija</button>
        </a>
    </div>
  </center>
</div>